
@media screen and (min-width: 800px){
.m1{
	width: 12.5%

}
.m2{
	width: 25%
	
}
.m3{
	width: 37.5%
	
}
.m4{
	width: 50%
	
}
.m5{
	width: 62.5%
}
.m6{
	width: 75%
	
}
.m7{
	width: 87.5%
	
}
.m8{
	width: 100%
}
.buttom{
	width: 100%
}
}
@media screen and (min-width: 1000px){
.l1{
	width: 12.5%

}
.l2{
	width: 25%
	
}
.l3{
	width: 37.5%
	
}
.l4{
	width: 50%
	
}
.l5{
	width: 62.5%
}
.l6{
	width: 75%
	
}
.l7{
	width: 87.5%
	
}
.l8{
	width: 100%	
}
.buttom{
	width: 50%;
}
}